@keyframes transitionIn-X {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes transitionIn-Y-over {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes transitionIn-Y-bottom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes transitionIn-Zoom {
    from {
        opacity: 0.1;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}